<head> 
{% load staticfiles %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="{% static 'bower_components/angular/angular.min.js' %}"></script>

<!-- REAL ACTUAL HTML (not just loading stuff) -->

<title>Social Network</title>
<nav class="navbar navbar-default">
    <div class="row" style="padding:10px" class="container-fluid">
        <div class="col-lg-1 col-xs-1" align="left">
            <a href={% block profile %}"/snet/login/"{% endblock%}>Home</a>
        </div>
        <div class="col-lg-10 col-xs-10" align="center">
            <form action="{% url 'snet:profile' userb.name %}" method= "post">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for User..." name="searchbar">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" name="bsearch">Go!</button>
                    </span>
                </div><!-- /input-group -->
            </form>
        </div>
        <div class="col-lg-1 col-xs-1" align="right">
            <form action="{% url 'snet:profile' user.username %}" method= "post">
                {% csrf_token %}

                <input type="submit" value = "Logout" name="blogout" class="btn btn-danger"> </br>
            </form>
        </div>       
    </div>
</nav>
 <!-- Add If user is Admin...
 <a href="{% url 'snet:index' %}">User Index</a>
 -->
    </pre>

<!-- bootstrap stuff -->


  <style>

  body {
    padding-bottom: 60px;
  }
  @media (max-width: 980px) {
    body {
      padding: 0;
    }
  }
</style>
</head>

<body>

{% block content %} {% endblock %}

</body>